.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

html, body {
  height: 100%;
}


.leaflet-popup-content article {
  p {
    margin: 13px 0;
  }

  header h1 {
    @extend p;
    display: inline;
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
    font-family: inherit;
  }
}
